body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
*{
    margin: 0%;
    padding: 0%;
}
.main{
    height: 100vh;
    width: 100vw;
}

.login{
    height: 450px;
    width: 750px;
    background: #456c93;
    position: relative;
    top: 20%;
    left: 26%;
    display: flex;
}
 img{
height: 100%;
width: 50%;
}
.inputbox1{
    display: flex;
    height: 40px;
    width: 250px;
    background: #000;
    margin-bottom: 25px;
}
.all{
    position: relative;
    top: 10%;
    left: 25%;
    display: flex;
    display: flex;
    flex-direction: column;
   
}
input{
    text-align: center;
}
img{
    transition: all;
    transition-timing-function: linear;
    transition-duration: 0.4;
}
img:hover{
    transform: scale(1.03);
}
#heading{
    margin-left: 20px;
    margin-top: 10px;
}
.check input{
    margin-right: 40px;
    margin-left: 8px;
}
a{
    text-decoration: none;
}
.button{
    height: 30px;
    width: 150px;
    background: #bd2396;
    margin-top: 30px;
    border-radius: 20px;
   text-align: center;
   padding-top: 5px;
}
.button a{
    color:antiquewhite ;
}
.lastheading{
    margin-top: 30px;
}
.last{
    margin-top: 20px;
    display: flex;
}
.last img{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-left: 5px;
}